
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.subtitle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:100px;
  margin-left:20px;
  height: 50px;
  width: 600px;
  background-color: #40513B;
  color: white;
  border-radius: 20px;
}

.subtitle h2 {
  font-size: 2rem;
margin: 5px;
margin-left: 40px;
}

.garbage-report-page{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
  margin-bottom: 100px;
  
}

.garbage-report-form {
    display: flex;
    flex-direction: row;
    padding:50px;
    width: 100%;
    
    margin: 0 auto;
  
    align-content: space-between;
    background-color: #EDF1D6;
    justify-content: space-evenly;
   
  }
  
  .map-container {
    width: 800px;
    height: 400px;
    margin-bottom: 50px;
    z-index: 0;
    margin-right: 10px;
    
  }
  
  .map {
    width: 100%;
    border-radius: 10px;
    height: 100%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

  }
  .selected-images img {
  width: 25%;
  margin: 5px;
}

  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
  }
  
  button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #609966;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #001F03;
  }
  input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #2196f3;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .custom-file-upload:hover {
    background-color: #0c7cd5;
  }
  /* Media Queries */
  
  @media screen and (max-width: 768px) {
    
    
    .map-container {
      height: 300px;
      width: 500px;
      
      margin-bottom: 50px;
      z-index: 0;
      margin-right: 10px;
     
    }
    
    input[type="text"],
    textarea {
      font-size: 0.9rem;
    }
    
    button {
      font-size: 0.9rem;
    }
    
.garbage-report-form {
  display: flex;
  flex-direction: column;
  padding:50px;
  width: 100%;
  max-width: 1200px;
  
  align-items: center;
  align-content: space-between;
  background-color: #EDF1D6;
  border-radius: 30px;
 
}

.garbage-report-page{
  display: flex;
  flex-direction: column;
  align-items: left;
 
  margin-bottom: 100px;
  
}

.subtitle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:100px;
  margin-left:20px;
  height: auto;
  width: auto;
  background-color: #40513B;
  color: white;
  border-radius: 20px;
}

.subtitle h2 {
  font-size: 1.2rem;
margin: 10px;
margin-left: 40px;

}



  }
  
  @media screen and (max-width: 530px) {

    .garbage-report-form {
      display: flex;
      flex-direction: column;
     
      width: 100%;
      
      
      align-items: center;
      align-content: space-between;
      background-color: #EDF1D6;
      border-radius: 30px;
     
    }
    
    .garbage-report-page{
      display: flex;
      flex-direction: column;
      align-items: left;
     
      margin-bottom: 100px;
      
    }
    .map-container {
      height: 200px;
      width: 100px;
      
      margin-bottom: 50px;
      z-index: 0;
      margin-right: 10px;
     
    }

    .garbage-report-page {
      padding-top: 60px;
    }
    
    
  
    
    input[type="text"],
    textarea {
      font-size: 0.8rem;
    }
    
    button {
      font-size: 0.8rem;
    }
  }
  